<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/contact.css">
    </head>

    <body>
        <%- include('includes/headerbar.ejs') %>

            <main>
                <form class="contact-form" action="/search" method="POST">
                    <div class="form-control">
                        <label for="title">Pesquisar contato:</label>
                        <input type="text" name="txtsearch" id="txtsearch" autofocus>
                        <button class="btn" name="serchbtn" id="btnpesquisar" type="submit">Pesquisar</button>
                    </div>


                    <div class="content">
                        <table class="rTable" id="contact__table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Idade</th>
                                    <th>Telefone</th>
                                </tr>
                            </thead>
                            <% if (contact_list.length > 0) { %>
                            <tbody>
                           
                                <% for (let current_contact of contact_list) { %>
                                <tr>
                                    <td><%= current_contact.ID %></td>
                                    <td><%= current_contact.NOME %></td>
                                    <td><%= current_contact.IDADE %></td>
                                    <td><%= current_contact.NUMERO %></td>
                                </tr>
                                
                                <% } %>

                            </tbody>
                            <% } %>
                        </table>


                </form>
                <div class="form-control-search">
                    <button class="btn" id="btneditar" name="btneditar" type="button">Editar contato</button>
                    <button class="btn" id="btnexcluir" name="btnexcluir" type="button">Excluir contato</button>
                </div>

            </main>

            <script type="text/javascript" src="/scripts/pesquisa.js"></script>
           
            <%- include('includes/end.ejs') %>